$breakpoint-desktop: 992px;

.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;
  text-align: center;

  @media (max-width: 991px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  &--active {
    display: block;
  }
}

.carousel-slide__content {
    margin-bottom: 19px;
    font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
    font-size: 16px;
  
    @media (max-width: $breakpoint-desktop - 1px) {
      font-size: 18px;
    }
  }
  

.carousel-slide__source {
  font-style: italic;
  color: #888;
}
    