.carousel__indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  
    li {
      &:nth-of-type(n + 2) {
        margin-left: 9px;
      }
    }
  }
  
  .carousel__indicator {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #111;
    cursor: pointer;
    opacity: .15;
    transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
  
    &:hover {
      opacity: .5;
    }
  
    &--active {
      &,
      &:hover {
        opacity: .75;
      }
    }
  }
  