@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:400);
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;

  h2 {
    font-variant: small-caps;
  }

  & > .carousel-container-slider {
    align-items: center;
    display: flex;
    flex-direction: row;
    & > .carousel-images {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

.carousel-kind-0 {
  color: orange;
  font-family: Permanent Marker, sans-serif;
  small {
    color: orange;
    text-decoration: dashed;
  }
  .indicator {
    background-color: orange;
  }
}

.carousel-kind-1 {
  font-family: Lora, serif;
  color: blue;
  small {
    color: blue;
    text-decoration: dashed;
  }
  .indicator {
    background-color: blue;
  }
}
.carousel-kind-2 {
  color: green;
  font-family: Roboto Condensed, sans-serif;

  small {
    color: green;
    text-decoration: dashed;
  }
  .indicator {
    background-color: green;
  }
}
.carousel {
  position: relative;
}
