@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:400);
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);

.movieWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 300px;
  padding: 0 1rem 1rem;
  width: 100%;
  ul li {
    margin-bottom: 1rem;
  }

  .imageMovie {
    display: flex;
    flex-direction: column;
    width: 50%;

    figure.addWishlist {
      font-family: "Raleway", Arial, sans-serif;
      color: #fff;
      margin: 0;
      position: relative;
      overflow: hidden;
      width: 100%;
      text-align: center;

      * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      img {
        opacity: 1;
        margin-top: 20px;
        height: 85%;
        width: 100%;
        transition: opacity 0.5s;
      }

      figcaption {
        position: absolute;
        bottom: 10px;
        left: 0;
        padding: 2rem;
        width: 100%;
        height: 85%;

        &::before {
          position: absolute;
          top: 50%;
          right: 30px;
          bottom: 50%;
          left: 30px;
          border-top: 1px solid rgba(255, 255, 255, 0.8);
          border-bottom: 1px solid rgba(255, 255, 255, 0.8);
          content: "";
          opacity: 0;
          background-color: #ffffff;
          transition: all 0.4s;
          transition-delay: 0.6s;
        }
      }

      h2,
      p {
        margin: 0 0 5px;
        opacity: 0;
        transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s,
          -o-transform 0.35s, transform 0.35s;
      }

      h2 {
        color: #000;
        word-spacing: -0.15em;
        font-weight: 300;
        margin-top: 20%;
        text-transform: uppercase;
        transform: translate3d(0%, 50%, 0);
        transition-delay: 0.3s;

        span {
          font-weight: 800;
        }
      }

      p {
        font-weight: 200;
        transition-delay: 0s;
      }

      a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        color: #ffffff;
      }

      &:hover {
        img {
          opacity: 0.35;
        }

        figcaption {
          h2 {
            opacity: 1;
            transform: translate3d(0%, 0%, 0);
            transition-delay: 0.3s;
          }

          p {
            opacity: 0.9;
            transition-delay: 0.6s;
          }

          &::before {
            background: rgba(255, 255, 255, 0);
            top: 30px;
            bottom: 30px;
            opacity: 1;
            transition-delay: 0s;
          }
        }
      }
    }
  }
  .descriptionMovie {
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 46%;
    &.movie-top_rated {
      color: orange;
      font-family: Permanent Marker, sans-serif;
    }
    &.movie-popular {
      color: blue;
      font-family: Lora, serif;
    }
    &.movie-upcoming {
      color: green;
      font-family: Roboto Condensed, sans-serif;
    }
  }
  .infoMovie {
    display: flex;
    padding-left: 0;
    width: 98%;
    ul {
      margin-top: 1rem;
    }

    &.movie-top_rated {
      color: orange;
      font-family: Permanent Marker, sans-serif;
    }
    &.movie-popular {
      color: blue;
      font-family: Lora, serif;
    }
    &.movie-upcoming {
      color: green;
      font-family: Roboto Condensed, sans-serif;
    }
  }
}
